body {
  background: url(../dist/img/background.jpg) fixed;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto !important;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0 !important;
}
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 20%;
}
.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 60%;
}
.card .card-image .card-title {
  bottom: 50px;
}
.card-image canvas {
  width: 100%;
}
.card .card-owner {
  margin-top: -100px;
  position: absolute;
  left: 0;
  right: 0;
  max-height: 20%;
}
.card .card-owner .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.card .card-owner img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}
.card .card-content {
  padding: 60px 20px 0;
}
.chip {
  transition: all 1s linear;
  cursor: pointer;
}
.chip.active {
  background-color: #4caf50 !important;
}
nav .chip {
  padding: 0 15px 0 -2px;
  margin: 15px 0 0 15px;
}
.editable {
  position: relative;
  left: 15px;
  top: -36px;
}
.loginscreen, .valign-wrapper {
  height: 80vh;
}
.modal-footer .row {
  margin-bottom: 0;
}
.modal-footer .modal-actions .modal-action.btn-flat {
  float: none;
  width: 100%;
  text-align: center;
}
.modal-actions div {}
.modal-header {
  margin-bottom: -100px;
}
.modal-header canvas {
  width: 100%;
  height: 100px;
}
.modal-header img {
  height: 100px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
}
.card-overview ul, .card-overview ul li {
  list-style-type: disc;
}
.card-overview ul {
  padding-left: 1em;
}
.chip > i {
  vertical-align: middle !important;
}
